@media (min-width: 768px){
section.resume-section {
	min-height: 10px!important;
}
.p-0{
	padding-left: 15px!important;
}
#addsocial,#addjob,#addschool,#addskill,#addcertificate,#addSkill,#addSchool,#saveform{
	background-color: #bd5d38!important;
}
#Savebutton{
	margin-top: 15px;
}
#problem{
	color: red;
}
#footerresume{
	text-align: center;
	font-size: x-small;
	color: black;
	font-weight: bold;
}
a{
	color: black!important;
}
.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: relative;
  top: -30px;
  right: -60px;
  color: black;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
.circle{
	position: absolute;
}